@model List<Hospital.Models.ShowVisitsViewModel>

<h2>Reserved Time Slots</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Doctor</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Date.ToShortDateString()</td>
                <td>@reservation.Time</td>
                <td>@reservation.PersonName</td>
                <td>@reservation.Description</td>

            </tr>
        }
    </tbody>
</table>