@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1>Choose an option:</h1>

    <div class="btn-group" role="group" aria-label="Doctor Options">
        <a href="@Url.Action("ShowVisits", "UserDoctor")" class="btn btn-secondary btn-lg">Show visits</a>
    </div>
</div>